<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}基本页{% end %}</title>
        <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{static_url('css/bootstrap.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img src="http://pic64.huitu.com/pic/20160410/905763_20160410145524381200_0.jpg" width="30" height="30">
        </a>
      <a class="navbar-brand" href="#">yun哥哥图片库</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">链接</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if not user %}
                登录
                {% else %}
            {{user}}
            {% end %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/login">登录</a>
              <a class="dropdown-item" href="/signup">注册</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/exit">退出登录</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    {% block body %}
        基本页
    {% end %}

<!-- jQuery文件 -->
<script src="{{static_url('js/jquery-3.3.1.slim.min.js')}}"></script>
<!-- Popper文件 -->
<script src="{{static_url('js/popper.min.js')}}"></script>
<!-- Bootstrap 核心 JavaScript 文件 -->
<script src="{{static_url('js/bootstrap.js')}}"></script>

</body>
</html>